<!-- login  -->
<section class="loginScreen">
    <div class="logincard">
        <div class="cContent">
            <div class="row">
                <div class="col-md-12" id="padding-o">
                    <div class="col-md-5">
                        <div class="fourContent">
                        <h2 class="loginTitle">TAPWEB</h2>
                        <h4 Class="loginSup">Lorem Ipsum is simply dummy text of the</h4>
                        <p class="weat">Welcome Back ! Please login to your account</p>
                        <form>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                        <div class="row">
                                <div class="check">
                                        <input type="checkbox" id="check">
                                        <label for="check"> <span>Remember Me</span><span class="fe">Forgot Password?</span></label>
                                      </div>
                        </div>
                        <div class="row">
                            <button class="login">Login</button>
                            <button class="signIn">Sign Up</button>
                        </div>
                        <ul class="list-inline ec">
                            <li class="le">Or login with</li>
                            <li><img class="caeh" src="../../assets/image/facebook.png"></li>
                            <li><img class="caeh" src="../../assets/image/linkedin.png"></li>
                            <li><img class="caeh" src="../../assets/image/search.png"></li>
                        </ul>
                    </form>
                    </div>
                    </div>
                    <div class="col-md-7" id="padding-o">
                        <div class="loginImg">
                                <!-- <h1>a</h1> -->
                        </div>
                  
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>


<!-- login  -->