/* login css */
section.loginScreen {
    background: #2196F3;
}
.cContent {
    background: #fff;
    width: 55%;
  }
.logincard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  h2.loginTitle {
    font-family: 'Montserrat', sans-serif;
    color: #3b5de4;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 2em;
}
h4.loginSup {
    color: #3b3e49;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 11px;
}
.fourContent input {
    color: #3d65f7;
}
p.weat {
    font-family: 'Roboto', sans-serif;
    color: #929299;
    font-size: 14px;
    margin-bottom: 1em;
}
.fourContent .row {
    margin: 0;
}
button.login {
    background: #3d65f7;
    height: 42px;
    width: 100px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    margin-right: 1em;
    font-family: 'Montserrat', sans-serif;
}
button.signIn {
    color: #3d65f7;
    height: 42px;
    width: 100px;
    outline: none;
    background: transparent;
    border: 1px solid #3d65f7;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}
.check label span{
    display: inline-block;
    margin-left: 18px;
}
input#check {
    opacity: 1;
}
span.fe {
    padding-left: 5em;
}
.check {
    padding: 0em 0 3em 0;
}
.fourContent .input-field {
    margin: 0 0 1em 0;
    padding: 0;
}
.fourContent .input-field.col label {
    left: 0;
}
.fourContent {
    padding: 2em 0 2em 2em;
}
ul.list-inline.ec {
    margin: 3em 0 0em 0;
}
li.le {
    font-family: 'Roboto', sans-serif;
    color: #929299;
    font-size: 14px;
}
img.caeh {
    width: 27px;
    height: 100%;
}
div#padding-o {
    padding: 0;
}
.loginImg {
    background-image: url('../../assets/image/preview-10787LNJcHWU4mj_0000.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 21em 0;
}
.cContent .row {
    margin: 0;
}
  /* login css */
  /* Responsive css */
  @media only screen and (min-width: 320px) and (max-width: 768px){
  .loginImg {
    display: none;
}
}
@media only screen and (min-width: 320px) and (max-width: 1024px){
    .cContent{
        width: 100%;
    }
}
  /* Responsive css */