.cards{
    height: 100px;
    width: 100%;
    background: #fff;
}
.main{
    text-align: center;
}
canvas#myChart {
    margin: 0 auto;
}
.model {
    background: #fff;
}
canvas#myChart {
    height: 70vh !important;
    width: 100% !important;
    margin: 0 auto;
}