<div class="main">
        <div class="ft">
                <h1>TapTap History
                        <!-- <button class="addItema" data-toggle="modal" data-target="#accountModal"><i class="fa fa-plus-circle"
                              aria-hidden="true"></i>Add</button> -->
              
                      </h1>
                
               
              </div>
    <div class="row ea">
        <div class="col-md-4">
            <div class="cards">

            </div>
        </div>
        <div class="col-md-4">
            <div class="cards">

            </div>
        </div>
        <div class="col-md-4">
            <div class="cards">

            </div>
        </div>
    </div>
    <div class="model">
        <canvas id="myChart" width="400" height="400"></canvas>

    </div>
</div>