<!-- Dashboard  -->
<section class="dashboard">
  <div class="row">
    <div class="col-md-12" id="padding-o">
      <div class="col-md-3"  id="padding-o">
          <!-- style="width:25%;float: left;" -->
     <app-sidenav></app-sidenav>
      </div>
      <div class="col-md-9" id="padding-o">
          <!-- style="width:75%;float: left;" -->
        <!-- <app-appuser ></app-appuser> -->
       
        <app-charts *ngIf="sharenav=='chart'"></app-charts>
        <app-taptaphistory *ngIf="sharenav=='taphistory'"></app-taptaphistory>
        <app-profile *ngIf="sharenav=='Profile'"></app-profile>
        <app-search *ngIf="sharenav=='search'"></app-search>
        <app-device *ngIf="sharenav=='device'"></app-device>
        <app-time *ngIf="sharenav=='time'"></app-time>

      </div>
    </div>
  </div>
  </section>
  <!-- Dashboard  -->
  