<nav class="navbar navbar-inverse navbar-fixed-left">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
               aria-controls="navbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
            <div class="row bagColor">
               <p class="headernav">TapTap</p>
            </div>
            <div class="row">
   
                  
   
   
   
               <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="true">
   
                  <div class="panel panel-default">
                     <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                           <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu"
                              href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <i class="fa fa-user-o" aria-hidden="true"></i><span class="ae">Welcome</span><br><span
                                 class="accordionName">Brij</span>
                           </a>
                        </h4>
                     </div>
                     <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                           <ul class="nav accordionae">
                              <li (click)="tapprofile()"><a>Profile</a></li>
                              <!-- <li><a href="#">item 2</a></li> -->
   
                           </ul>
                        </div>
                     </div>
                  </div>
   
                  <div class="row">
                        <ul>
                           <li class="menuTab"><i class="fa fa-home" aria-hidden="true"></i></li>
                           <li class="menuTab"><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                           <li class="dropdown menuTab">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                                 <i class="fa fa-cog" aria-hidden="true"></i></a>
                              <ul class="dropdown-menu sitetting">
                                 <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Users</a></li>
                                 <li><a href="#"><i class="fa fa-sticky-note" aria-hidden="true"></i>Terms</a></li>
                                 <li><a href="#"><i class="fa fa-truck" aria-hidden="true"></i>Vehicle Kind</a></li>
                                 <li><a href="#"><i class="fa fa-tags"></i>VAT rates</a></li>
                                 <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>System Settings</a></li>
             
             
                              </ul>
                           </li>
                        </ul>
                     </div>
   
   
   
   
   
   
   
                
   
                    
   
   
                     <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingfour">
                              <h4 class="panel-title">
                                 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu"
                                    href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
      
                                    <span>Home</span></a>
                              </h4>
                           </div>
                           <div id="collapsefour" class="panel-collapse collapse" role="tabpanel"
                              aria-labelledby="headingfour">
                              <div class="panel-body">
                                 <ul class="nav accordionae">
      
                                    <li class="order" (click)="tapChart()"><i class="fa fa-sticky-note" aria-hidden="true"></i> TapTap Charts</li>
      
                                    <li class="order" (click)="taphistory()"> <i class="fa fa-sliders" aria-hidden="true"></i>TapTap history</li>
                                    
                                 </ul>
                              </div>
                           </div>
                        </div>
                     

                        <div class="panel-heading" role="tab" id="headingfour" (click)="tapsearch()">
                              <h4 class="panel-title">
                                 <a >
      
                                    <span>Search</span></a>
                              </h4>
                           </div>

                        <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingThree">
                                 <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu"
                                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         
                                       <span>TapTap</span></a>
                                 </h4>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                 <div class="panel-body">
                                    <ul class="nav accordionae">
         
                                       <li class="order" (click)="tapdevice()"><i class="fa fa-sticky-note" aria-hidden="true"></i> Manage Devices</li>
         
                                       <li class="order" (click)="taptime()"> <i class="fa fa-sliders" aria-hidden="true"></i>Time</li>
                                       <li class="order"> <i class="fa fa-sliders" aria-hidden="true"></i>Milage</li>
         
                                    </ul>
                                 </div>
                              </div>
                           </div>
   


                           <div class="panel-heading" role="tab" id="headingfour">
                                 <h4 class="panel-title">
                                    <a >
         
                                       <span>Favorite</span></a>
                                 </h4>
                              </div>
                           <div class="panel panel-default">
                                 <div class="panel-heading" role="tab" id="headingfive">
                                    <h4 class="panel-title">
                                       <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu"
                                          href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
            
                                          <span>More</span></a>
                                    </h4>
                                 </div>
                                 <div id="collapsefive" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingfive">
                                    <div class="panel-body">
                                       <ul class="nav accordionae">
            
                                          <li class="order"><i class="fa fa-sliders" aria-hidden="true"></i> Feed</li>
            
                                          <li class="order"> <i class="fa fa-sliders" aria-hidden="true"></i>About</li>
                                          <li class="order"> <i class="fa fa-sliders" aria-hidden="true"></i>Help</li>
            
                                       </ul>
                                    </div>
                                 </div>
                              </div>
   
   
                  </div>
               </div>
         </div>
      </div>
      
   
   
   </nav>