<nav class="navbar navbar-inverse navbar-fixed-left">
  <div class="container">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
           aria-controls="navbar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </button>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
        <div class="row bagColor">
           <p class="headernav">Tap Web</p>
        </div>
        <div class="row">





            <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="true">
                 
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           <i class="fa fa-user-o" aria-hidden="true"></i><span class="ae">Welcome</span><br><span class="accordionName">Brij</span>
                      </a>
                    </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <ul class="nav accordionae">
                          <li><a href="#">item 1</a></li>
                          <li><a href="#">item 2</a></li>
                          <li><a href="#">item 3</a></li>
                          <li><a href="#">item 4</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                </div>
              
           <div class="profileNav">
               <!-- <div class="panel panel-default">
                     <div class="panel-heading" role="tab" id="headingOne">
                       <h4 class="panel-title">
                       <a role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         Menu 0
                       </a>
                     </h4>
                     </div>
                     
                     <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                       <div class="panel-body">
                         <ul class="nav">
                           <li><a href="#">item 1</a></li>
                           <li><a href="#">item 2</a></li>
                           <li><a href="#">item 3</a></li>
                         </ul>
                       </div>
                     </div>
                   </div> -->
              <!-- <ul>
                 <li><i class="fa fa-user-o" aria-hidden="true"></i></li>
                 <li>
                    <p class="userWelcome">Welcome<br><span class="userName">Brij</span></p>
                 </li>
                 <li class="dropdown rightArrow">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                             <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                       <ul class="dropdown-menu sitetting">
                          <li><a href="#"><i class="fa fa-cog"></i>User Settings</a></li>
                          <li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i>Password change</a></li>
                          <li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
                       </ul>
                    </li>
              </ul> -->
           </div>



        </div>
        <div class="row">
           <ul>
              <li class="menuTab"><i class="fa fa-home" aria-hidden="true"></i></li>
              <li class="menuTab"><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
              <li class="dropdown menuTab">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                    <i class="fa fa-cog" aria-hidden="true"></i></a>
                 <ul class="dropdown-menu sitetting">
                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Users</a></li>
                    <li><a href="#"><i class="fa fa-sticky-note" aria-hidden="true"></i>Terms</a></li>
                    <li><a href="#"><i class="fa fa-truck" aria-hidden="true"></i>Vehicle Kind</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i>VAT rates</a></li>
                    <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>System Settings</a></li>


                 </ul>
              </li>
           </ul>
        </div>
        <div class="row leftCet">

            <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                   
                        <span>Main</span></a>
                  </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <ul class="nav accordionae">
                        <li><a href="#">item 1</a></li>
                        <li><a href="#">item 2</a></li>
                        <li><a href="#">item 3</a></li>
                        <li><a href="#">item 4</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

           <!-- <p class="navMain">Main</p>

           <ul>
              <li><i class="fa fa-sticky-note" aria-hidden="true"></i></li>
              <li class="order">Taptap Charts</li>
              <li class="dropdown flRight">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                    <button class="addItem"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button></a>
                    <ul class="dropdown-menu sitetting colori">
                          <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i>Multimodal</a></li>
                          <li><a href="#"><i class="fa fa-truck" aria-hidden="true"></i>Road</a></li>
                          <li><a href="#"><i class="fa fa-ship" aria-hidden="true"></i>Sea</a></li>
                          <li><a href="#"><i class="fa fa-plane"></i>Air</a></li>
                          <li><a href="#"><i class="fa fa-train" aria-hidden="true"></i>Train</a></li>
                          <li><a href="#"><i class="fa fa-usd" aria-hidden="true"></i>Customs</a></li>
                          <li><a href="#"><i class="fa fa-shield" aria-hidden="true"></i>Insurance</a></li>
                          <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i>Other</a></li>

     
                       </ul>
              </li>
           </ul> -->
        </div>
        <div class="row leftCet">
           <ul>
              <li><i class="fa fa-sliders" aria-hidden="true"></i></li>
              <li class="order">TapTap history</li>
              <li class="dropdown flRight">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                    <button class="addItem"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button></a>
                 <!-- <ul class="dropdown-menu">
                    <li><a href="#">Table 1</a></li>
                    <li><a href="#">Table 2</a></li>
                    <li><a href="#">Table 3</a></li>
                    <li><a href="#">Table 4</a></li>
                    <li><a href="#">Table 5</a></li>
                    <li><a href="#">Table 6</a></li>

                 </ul> -->
              </li>
           </ul>
        </div>
        <div class="row leftCet">
           <ul>
              <li><i class="fa fa-truck" aria-hidden="true"></i></li>
              <li class="order">Feed</li>
           </ul>
        </div>
        <hr class="mHrLine">
        <div class="row leftCet">
           <p class="navMain">Categories</p>

           <ul>
              <li><i class="fa fa-credit-card" aria-hidden="true"></i></li>
              <li class="order">Fashion</li>
              <li class="dropdown flRight">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                    <button class="addItem"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button></a>
                 <!-- <ul class="dropdown-menu">
                    <li><a href="#">Table 1</a></li>
                    <li><a href="#">Table 2</a></li>
                    <li><a href="#">Table 3</a></li>
                    <li><a href="#">Table 4</a></li>
                    <li><a href="#">Table 5</a></li>
                    <li><a href="#">Table 6</a></li>

                 </ul> -->
              </li>
           </ul>
        </div>
        <div class="row leftCet">
           <ul>
              <li><i class="fa fa-id-card-o" aria-hidden="true"></i></li>
              <li class="order">sports</li>
           </ul>
        </div>
        <div class="row leftCet">
           <ul>
              <li><i class="fa fa-money" aria-hidden="true"></i></li>
              <li class="order">Business</li>
           </ul>
        </div>
        <hr class="mHrLine">
     </div>
  </div>
</nav>
